<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css" />
    <meta name="author" content="Luke Robertson" />
    <meta name="description" content="Canberra based musician. 15+years of playing professionally has taught me so much about music, business and life. This is a platform of discovery, insights, stories and all the interesting nuggets in between. Through my experience, I hope you learn something that helps you in your journey." />
    <link rel="icon" type="image/x-icon" href="../static/face.ico" />
    <title>Success!! We Connected!! | Luke Robertson's Blog Database</title>
    <title>Thanks!</title>
</head>
<body>
    <div class="container">
        <img src="../static/logo.png" alt="Luke Robertson logo" class="logo">
        <h1>Thank you so much!</h1>
        <h2>I can't thank you enough for connecting with me. I can't wait to share more great experiences with you shortly.</h2>
    </div>
    
</body>
</html>